@media (max-width: 769px) {
    main::after {
        background: linear-gradient(90deg, rgba(250, 247, 220, 1) 0%, rgba(255, 255, 255, 1) 12%, rgba(203, 182, 135, 1) 35%) no-repeat;
        width: 100vw;
    }

    main .herois .imagem {
        height: 85%;
    }

    .conteudo {
        justify-content: flex-end;
        left: 0;
        top: -5%;
        max-width: 100vw;
        padding: 30px;
    }

    .conteudo .nome-herois {
        font-size: 36px;
    }

    .conteudo .descricao {
        max-width: 500px;
    }

    .botoes {
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30%;
    }

    .botoes .botao img {
        size-adjust: 60px;
        /*max-width: 60px; esse valor nao deu certo*/
    }
}

@media (max-width: 425px) {
    main .herois .imagem {
        height: auto;
    }

    .conteudo .logo {
        width: 170px;
        height: 75px;
    }

    .conteudo {
        top: -30%;
    }

    .conteudo .nome-herois {
        font-size: 24px;
    }

    .botoes {
        padding: 20px;
        top: -5%;
    }

    .botoes .botao img {
        max-width: 50px;
    }
}